<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">Create Ticket</h1>
        <form action="users/tickets" method="POST">
          <div class="form-group">
            <label for="category">Category</label>
            <input
              type="text"
              id="category"
              name="category"
              class="form-control"
              placeholder="Development or Testing or Production"
              value="<%= typeof category != 'undefined' ? category : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="createdby">Created By</label>
            <input
              type="name"
              id="creatdBy"
              name="createdBy"
              class="form-control"
              placeholder="Name"
              value="<%= typeof createdBy != 'undefined' ? createdBy : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="assignedTo">Assigned To</label>
            <input
              type="name"
              id="assignedTo"
              name="assignedTo"
              class="form-control"
              placeholder="Name"
              value="<%= typeof assignedTo != 'undefined' ? assignedTo : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="priority">Priority</label>
            <input
              type="text"
              id="priority"
              name="priority"
              class="form-control"
              placeholder="High or Low or Medium"
              value="<%= typeof priority != 'undefined' ? priority : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input
              type="text"
              id="status"
              name="status"
              class="form-control"
              placeholder="Open or Closed or Resolved"
              value="<%= typeof status != 'undefined' ? status : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <input
              type="text"
              id="comment"
              name="comment"
              class="form-control"
              placeholder="Add Comment"
              value="<%= typeof comment != 'undefined' ? comment : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Create
          </button>
        </form>
        <p class="text-center lead mt-4"><a href="/dashboard">Back</a></p>
      </div>
    </div>
  </div>